* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.high {
  background-color: #505050;
  color: white;
}

.medium {
  background-color: #989898;
}

.low {
  background-color: #C8C8C8;
}

h1 {
  font-size: 40px;
  text-align: center;
}

.login {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

.nav-bottom {
  text-align: center;
}

ul {
  display: block;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h3, h4 {
  margin-bottom: 10px;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

section {
  padding: 10px;
}

.comment {
  margin-bottom: 10px;
  padding: 10px;
}

.centered {
  text-align: center;
}

button {
  margin: 20px 10px;
  padding: 6px 12px;
  border: 1px solid black;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
}

input {
  font-size: 16px;
  padding: 8px;
}

.label {
  margin: 8px;
  font-size: 16px;
}

.contact {
  position: fixed;
  border-radius: 50%;
  font-size: 30px;
  height: 40px;
  width: 40px;
  text-align: center;
}

.top, .middle, .bottom {
  right: 15px;
}

.bottom {
  bottom: 15px;
}

.middle {
  bottom: 75px;
}

.top {
  bottom: 135px;
}

.white {
  color: white;
}

.flex-video {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex-item {
  width: 300px;
  height: 200px;
  text-align: center;
  margin-bottom: 10px;
}

.performance {
  padding: 10px;
  margin-bottom: 10px;
}

.map {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.textarea {
  font-size: 16px;
  padding: 10px;
  height: 100px;
  width: 300px;
  resize: none;
}

.blogitem {
  margin-bottom: 20px;
  padding: 20px;
}

#blogtextarea {
  height: 500px;
}

@media only screen and (min-width: 769px) {
  .flex-area {
    display: flex;
  }
  .flex-left {
    width: 200%;
  }
  main {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
  .navlink {
    display: inline-block;
    padding: 10px 20px;
  }
  .textarea {
    width: 67%;
  }
}